extends layout

block content

	h1 Credits
	p Glance.js is possible thanks to the follow people, organizations, and projects.

	hr

	ul
		li
			a(target='_blank', href='http://gridster.net/') gridster.js / Ducksboard
			a(target='_blank', href='https://github.com/ducksboard/gridster.js', class='pull-right') (GitHub Project)
		li
			a(target='_blank', href='http://expressjs.com/') Express
			a(target='_blank', href='https://github.com/visionmedia/express', class='pull-right') (GitHub Project)