extends layout

block content

	h1 Documentation

	h2 Introduction
	p Glance.js is based on widgets. Every section of data is loaded and managed by a widget.

	h2 Widget Construction

	h3 Directory
	p To create a widget, create a new directory in public/widgets named as the title of the widget.
	p For example, if you wanted to create a "monitor" widget, you'd make the directory public/widgets/monitor and then place widget files in there.

	h3 Files
	p Every widget is required to have a "widget.js" file.
	p This is the main file and where Glance will initialize your widget.