extends layout

block content

	h1 Glance.js Example

	div.gridster
		ul
			li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
				div(class='widget-brand')
					|Glance.js<br />Version 0.0.1
			li(data-row='1', data-col='2', data-sizex='2', data-sizey='1')
				div(class='widget-clock')
					|12:00 PM
			li(data-row='1', data-col='3', data-sizex='1', data-sizey='1')
			li(data-row='2', data-col='1', data-sizex='1', data-sizey='1')