extends layout

block content

	h1 Glance.js Example

	div.gridster
		ul
			li(class='rounded-corners', data-row='1', data-col='1', data-sizex='2', data-sizey='1')
				div(class='widget-brand')
					|Glance.js<br />Version 0.0.1
			li(class='rounded-corners', data-row='1', data-col='2', data-sizex='2', data-sizey='1')
				div(class='widget-clock')
					span#widget-clock
			li(class='rounded-corners', data-row='1', data-col='3', data-sizex='1', data-sizey='1')
				div(class='widget-users', style='padding: 5px;')
					p(style='font-size: 24px;') User<br />Count
					p#widget-users(style='font-size: 50px;') ...
			li(class='rounded-corners', data-row='2', data-col='1', data-sizex='1', data-sizey='1')
				div(class='widget-custom rounded-corners', style='width: 140px; height: 140px; border: 5px dashed #FFFFFF; padding: 10px;') Your<br />Widget<br />Here

	script(type='text/javascript', src='/widgets/clock/date.js')
	script(type='text/javascript', src='/widgets/clock/widget.js')

	script(type='text/javascript', src='/widgets/users/widget.js')