extends layout

block content

	h1 Welcome to Status Board
	h2 View your metrics at a glance
	p Status Board was created to provide an open, free, and extendable platform for you to view key metrics of your projects at a glance.

	div.gridster
		ul
			li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
				div(class='widget-brand')
					|Status Board<br />Version 0.0.1
			li(data-row='1', data-col='2', data-sizex='2', data-sizey='1')
				div(class='widget-clock')
					|12:00 PM
			li(data-row='1', data-col='3', data-sizex='1', data-sizey='1')
			li(data-row='2', data-col='1', data-sizex='1', data-sizey='1')