doctype 5
html

	head
		title= title
		link(type='text/css', rel='stylesheet', href='/assets/library/bootstrap/css/bootstrap-v3.0.0-RC1.min.css')
		link(type='text/css', rel='stylesheet', href='/assets/library/gridster/css/jquery.gridster-v0.1.0.min.css')
		link(type='text/css', rel='stylesheet', href='/assets/css/style.css')

	body
		block content

		script(type='text/javascript', src='/assets/library/jquery/jquery-v2.0.3.min.js')
		script(type='text/javascript', src='/assets/library/bootstrap/js/bootstrap-v3.0.0-RC1.min.js')
		script(type='text/javascript', src='/assets/library/gridster/js/jquery.gridster-v0.1.0.min.js')
