doctype 5
html

	head
		title= title
		link(type='text/css', rel='stylesheet', href='/assets/library/bootstrap/css/bootstrap-v3.0.0-RC1.min.css')
		link(type='text/css', rel='stylesheet', href='/assets/library/bootstrap/css/bootstrap-glyphicons.css')
		link(type='text/css', rel='stylesheet', href='/assets/library/gridster/css/jquery.gridster-v0.1.0.min.css')
		link(type='text/css', rel='stylesheet', href='/assets/css/jumbotron-narrow.css')
		link(type='text/css', rel='stylesheet', href='/assets/css/style.css')

		link(type='image/x-icon', rel='shortcut icon', href='/favicon.ico')

	body

		div(class='container-narrow')

			div(class='header')
				ul(class='nav nav-pills pull-right')

					if active == 'home'
						li(class="active")
							a(href='/') Home
					else
						li
							a(href='/') Home

					if active == 'example'
						li(class="active")
							a(href='/example') Example
					else
						li
							a(href='/example') Example

					if active == 'documentation'
						li(class="active")
							a(href='/documentation') Documentation
					else
						li
							a(href='/documentation') Documentation

					if active == 'credits'
						li(class="active")
							a(href='/credits') Credits
					else
						li
							a(href='/credits') Credits

				h3(class='text-muted') 
					a(href='/') <i class="glyphicon glyphicon-eye-open"></i> Glance.js

			block content

			div(class='footer')
				p
					a(target='_blank', href='https://github.com/ryanlelek/glance.js') GitHub Project

		a(target='_blank', href='https://github.com/ryanlelek/glance.js')
			img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')

		// Libraries
		script(type='text/javascript', src='/assets/library/jquery/jquery-v2.0.3.min.js')
		script(type='text/javascript', src='/assets/library/bootstrap/js/bootstrap-v3.0.0-RC1.min.js')
		script(type='text/javascript', src='/assets/library/gridster/js/jquery.gridster-v0.1.0.min.js')
		script(type='text/javascript', src='/assets/js/main.js')