doctype 5
html

	head
		title= title
		link(type='text/css', rel='stylesheet', href='/assets/library/bootstrap/css/bootstrap-v3.0.0-RC1.min.css')
		link(type='text/css', rel='stylesheet', href='/assets/library/gridster/css/jquery.gridster-v0.1.0.min.css')
		link(type='text/css', rel='stylesheet', href='/assets/css/jumbotron-narrow.css')
		link(type='text/css', rel='stylesheet', href='/assets/css/style.css')

	body

		div(class='container-narrow')

			div(class='header')
				ul(class='nav nav-pills pull-right')

					if active == 'home'
						li(class="active")
							a(href='/') Home
					else
						li
							a(href='/') Home

					if active == 'example'
						li(class="active")
							a(href='/example') Example
					else
						li
							a(href='/example') Example


				h3(class='text-muted') Status Board

			block content

			div(class='footer')
				p
					a(target='_blank', href='https://github.com/ryanlelek/status-board') GitHub Project

		script(type='text/javascript', src='/assets/library/jquery/jquery-v2.0.3.min.js')
		script(type='text/javascript', src='/assets/library/bootstrap/js/bootstrap-v3.0.0-RC1.min.js')
		script(type='text/javascript', src='/assets/library/gridster/js/jquery.gridster-v0.1.0.min.js')
		script(type='text/javascript', src='/assets/js/main.js')