
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gridster ul {
	list-style: none;
}

.gridster .gs_w {
	background: #2C3E50;
	color: white;
	text-align: center;
}

.rounded-corners {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
/* Gridster */
.preview-holder {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

/* Brand */
.widget-brand {
	font-size: 30px;
	margin-top: 30px;
}

/* Clock */
.widget-clock {
	font-size: 48px;
	margin-top: 40px;
}