
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gridster ul {
	list-style: none;
}

.gridster .gs_w {
	background: #444444;
}

/* Brand */
.widget-brand {
	font-size: 30px;
	color: white;
	text-align: center;
	margin-top: 40px;
}

/* Clock */
.widget-clock {
	font-size: 48px;
	color: white;
	text-align: center;
	margin-top: 40px;
}